@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

::selection {
    background-color: #827B60;
    color: white;
}

#header {
    font-family: "Noto Sans KR", sans-serif;
    background: #827B60;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    min-width: 900px;
}


.gnb-menu { /* 네비게이션 바 */
    background: #827B60;
    align-items: top;
    line-height: 60px;
    float: left;
}


.gnb-menu a {
    background: #827B60;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    position: relative;
    margin-left: 30px;
    margin-top: 12px;
    padding: 6px 18px;
}

.gnb-menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 4px;
    background: #fff;
    transition: all .4s ease-out;
}

.gnb-menu a:hover::after {
    width: 100%;
}

/* ------------ after login section ----------*/

.right-side {
    background: #827B60;
    padding-right: 50px;
    padding-top: 18px;
    padding-left: 12px;
    flex-direction: row;
    
}

.right-side label {
    padding-right: 10px;
    color: white;
    font-size: 12.5px;
    border: none;
    background-color: #827B60;
}

#btn-mypage,
#btn-out {
    width: 50px;
    height: 20px;
    background: #493D26;
    color: #fff;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
